.app-lesson-grid {
    display: none;
    gap: $gutter;
    grid-template-columns: 1fr;
    width: 80%;
    justify-items: center;

    &.is-active {
        display: grid;
    }

    @include if-tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @include if-desktop {
        grid-template-columns: repeat(3, 1fr);
    }
}
