<main class="app-home">
    <div class="lesson-view">
        <div class="lesson-view__title">
            {{>../components/Heading title="SCSS in depth"}}
        </div>
        <div class="lesson-view__content">
            Huh?
        </div>
    </div>
</main>