<main class="app-home">
    <div class="lesson-view">
        <div class="lesson-view__title">
            {{>../components/heading title="SCSS in depth"}}
        </div>
        <div class="lesson-view__content">
            {{>../components/launcher title="Lesson 1" description="SCSS in depth" }}
        </div>
    </div>
</main>