.lesson-10 {
    &__icon {
        height: 40px;
        width: 40px;

        &::before {
            @include get-icon('download', $color-accent-1);
        }

        &:hover::before {
            @include get-icon('download', $color-accent-2);
        }
    }

    &__icon-2 {
        height: 40px;
        width: 40px;

        &::before {
            @include get-icon('external', $color-accent-1);
        }

        &:hover::before {
            @include get-icon('external', $color-accent-2);
        }
    }
}
