// Pallette
$color-white: #fff;
$color-blue: #3e4dfb;
$color-red: #ff3454;
$color-black: #1C2E36;
$color-darker: #18282F;

// Project
$color-accent-1: $color-blue;
$color-accent-2: $color-red;
$color-bg: $color-black;
$color-bg-darker: $color-darker;
$color-contrast: $color-white;

// Fonts
$color-font: $color-white;
$color-font-inverse: $color-darker;
