.large-image {
    background-image: url("https://picsum.photos/400/200?image=18");
    background-position: center;
    background-size: contain;
    height: 250px;
    width: 500px;
}

.small-image {
    background-image: url("https://picsum.photos/50/50?image=1");
    content: '';
    height: 50px;
    width: 50px;
}
