.lesson-6 {
    @function cta-transition($parameters) {
        $_anim-style: 1s ease;
        $new-list: ();

        @each $paramater in $parameters {
            $new-list: append($new-list, $paramater $_anim-style, comma);
        }
        @return $new-list;
    }

    &__button {
        $_sarasas: box-shadow, background-color, transform;

        background-color: $color-accent-1;
        border: 0;
        border-radius: 3px;
        box-shadow: 0 0 0 0 rgba(#000, 0);
        color: $color-font;
        cursor: pointer;
        padding: 10px;
        transform: scale(1);
        transition: cta-transition($_sarasas);

        &:hover {
            background-color: $color-accent-2;
            box-shadow: 0 0 20px 0 rgba(#000, .5);
            transform: scale(1.5);
        }
    }
}
