.lesson-6 {
    align-items: center;
    display: flex;
    font-size: 12px;
    height: 80%;
    justify-content: space-between;
    position: relative;
    width: 80%;
}

.lesson-6 > div {
    align-items: center;
    background-color: #3e4dfb;
    display: flex;
    justify-content: center;
    margin: 5px;
    flex-shrink: 0;
}
.lesson-6 > div:nth-child(even) {
    background-color: #ff3454;
}

.vmaxed {
    height: 7vmax;
    width: 7vmax;
}

.vmined {
    height: 7vmin;
    width: 7vmin;
}

.emmed {
    height: 10em;
    width: 10em;
}

.remmed {
    height: 10rem;
    width: 10rem;
}

.percent {
    height: 10%;
    width: 10%;
}

.pexed {
    width: 100px;
    height: 100px;
}
