.lesson-7 {
    width: 100%;

    @for $i from 1 through 5 {
        &__item:nth-child(#{$i}) {
            background-color: darken($color-accent-1, $amount: $i * 5);
            padding: 20px;
        }
    }
}
