@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900&display=swap&subset=latin-ext');

:root {
    --color-white: #fff;
    --color-blue: #3e4dfb;
    --color-red: #ff3454;
    --color-black: #1C2E36;
    --color-darker: #18282F;

    --header-height: 200px;
    font-family: 'Lato', sans-serif;
}

*,
*::after,
*::before {
    color: var(--color-white);
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--color-black);
    overflow: hidden;
}

.app-header {
    align-items: center;
    display: flex;
    height: var(--header-height);
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.app-heading {
    font-weight: 300;
    font-size: 48px;
    line-height: 1;
    position: relative;
}

.app-heading::after {
    background-color: var(--color-white);
    content: '';
    display: block;
    height: 1px;
    width: 300px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-bottom: -30px;
    transform: translateX(-50%);
}

.app-main {
    height: calc(100vh - var(--header-height));
    margin-top: var(--header-height);
    overflow-y: auto;
    width: 100vw;
}

.app-lesson-select {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
    margin: 0 auto 80px;
    width: 80%;
}

@media screen and (min-width: 1000px) {
    .app-lesson-select {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1600px) {
    .app-lesson-select {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Sneaky 3rd party */
.app-lesson-launcher__content-playground.-lesson-2 button {
    background-color: blue;
}

.app-lesson-launcher__content-playground.-lesson-2 button span {
    color: #fff;
}
