<div class="app-launcher">
    <a href="#/lesson-@@count" class="app-launcher__launcher" data-launcher="@@count"
        id="app-launcher-@@count">
        <span class="app-launcher__num">Lesson 1</span>
        <span class="app-launcher__name">School</span>
    </a>
</div>