<a href="#/lessons/lesson-1" class="app-launcher" data-launcher="@@count"
    id="app-launcher-@@count">
    <span class="app-launcher__num">{{title}}</span>
    <span class="app-launcher__name">{{description}}</span>
</a>