<div class="app-lesson-view" id="app-lesson-view">
    <div class="app-lesson-view__actions">{{>../components/simple-link href="#/" label="Close" }}</div>
    <div class="app-lesson-view__content">
        <iframe id="app-lesson-view__frame" frameborder="0"></iframe>
    </div>
</div>