<main class="app-home">
    <div class="app-main-layout">
        <div class="app-main-layout__title">
            {{>../components/heading title="SCSS in depth"}}
            {{>../components/lesson-name }}
        </div>
        <div class="app-main-layout__content">
            {{>../components/lesson-grid }}
            {{>../components/lesson-view }}
        </div>
    </div>
</main>
