<div class="app-lesson-view" id="app-lesson-view">
    <div class="app-lesson-view__actions">{{>../components/simple-link href="#/" label="Close" }}</div>
    <div class="app-lesson-view__content">
        <div class="app-lesson-view__lesson" id="lesson-1">{{> ../LESSONS/lesson-1/lesson-1 }}</div>
        <div class="app-lesson-view__lesson" id="lesson-2">{{> ../LESSONS/lesson-2/lesson-2 }}</div>
        <div class="app-lesson-view__lesson" id="lesson-3">{{> ../LESSONS/lesson-3/lesson-3 }}</div>
        <div class="app-lesson-view__lesson" id="lesson-4">{{> ../LESSONS/lesson-4/lesson-4 }}</div>
        <div class="app-lesson-view__lesson" id="lesson-5">{{> ../LESSONS/lesson-5/lesson-5 }}</div>
        <div class="app-lesson-view__lesson" id="lesson-6">{{> ../LESSONS/lesson-6/lesson-6 }}</div>
        <div class="app-lesson-view__lesson" id="lesson-7">{{> ../LESSONS/lesson-7/lesson-7 }}</div>
    </div>
</div>
