<div class="app-lesson-grid is-active" id="app-lesson-grid">
    {{>../components/launcher title="Lesson 1" description="CSS to Sass structure" link="lessons/lesson-1" }}
    {{>../components/launcher title="Lesson 2" description="Declining text" link="lessons/lesson-2" }}
    {{>../components/launcher title="Lesson 3" description="Simple dark mode" link="lessons/lesson-3" }}
    {{>../components/launcher title="Lesson 4" description="Declining text 2" link="lessons/lesson-4" }}
    {{>../components/launcher title="Lesson 5" description="Transition mixin" link="lessons/lesson-5" }}
    {{>../components/launcher title="Lesson 6" description="Transition function" link="lessons/lesson-6" }}
</div>