.lesson-8 {
    display: block;
    width: 100%;
}

.print-link {
    display: block;
    margin-bottom: 40px;
}

@media print {
    .print-link::after {
        content: " (" attr(href) ")";
    }
}

.little-grid {
    background-color: #666;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.little-grid__left,
.little-grid__right {
    background-color: #999;
    display: block;
    margin: 5px;
    padding: 10px;
}

@media screen and (min-width: 900px) {}