<div class="lesson-layout">
    <div class="lesson-8">
        <h1 class="lesson-8__h1">Lesson 8</h1>
        <ul class="lesson-8__list">
            <li class="lesson-8__list-item">Item 1</li>
            <li class="lesson-8__list-item">Item 2</li>
            <li class="lesson-8__list-item">Item 3</li>
            <li class="lesson-8__list-item">Item 4</li>
        </ul>
    </div>
</div>